mixin comment({commentData, usersData, isEditable = false})
  li(class=`${isEditable ? 'js-card' : ''}`)
    .comment-card
      .comment-card__header
        each userData in usersData
          if userData.id === commentData.userId
            - avatar = userData.avatar
            a.comment-card__avatar.avatar(href='#')
              img(src=`${avatar.src}` srcset=`${avatar.srcset}` alt='Аватар пользователя')
            p.comment-card__author= `${userData.name}`
      .comment-card__content
        p= `${commentData.comment}`
      if isEditable
        button.comment-card__delete.js-delete(type='button') Удалить

mixin comments-list(ticketData, commentsData, usersData, isEditable = false)
  .comments__block
    .comments__header
      a.announce-card(href='#')
        h2.announce-card__title= `${ticketData.title}`
        span.announce-card__info
          span.announce-card__price= `₽ ${ticketData.price}`
          span.announce-card__type= `${ticketData.label}`
    ul.comments-list
      each commentData in commentsData
        +comment({commentData, usersData, isEditable})
