mixin ticket-img(img = {}, className = 'ticket__img')
  div(class=`${className}`)
    if img.src && img.srcset
      img(src=`${img.src}` srcset=`${img.srcset}` alt='Изображение товара')

mixin ticket-info(ticket, currentUser, categories)
  .ticket__info
    h2.ticket__title= `${ticket.title}`
    .ticket__header
      p.ticket__price
        span.js-sum= `${ticket.price}`
        |  ₽
      p.ticket__action= `${ticket.label}`
    .ticket__desc
      p= `${ticket.description}`
    .ticket__data
      p
        b Дата добавления:
        span= `${ticket.createdDate}`
      p
        b Автор:
        a(href='#')= `${currentUser.name}`
      p
        b Контакты:
        a(href=`mailto:${currentUser.email}`)= `${currentUser.email}`
    ul.ticket__tags
      each category in categories
        each ticketCategory in ticket.categories
          if ticketCategory === category.id
            +category-item-small(category)

mixin ticket-comment-form
  .ticket__comment-form
    form.form.comment-form(action='#' method='post')
      .comment-form__header
        a.comment-form__avatar.avatar(href='#')
          img(src='img/avatar.jpg' srcset='img/avatar@2x.jpg 2x' alt='Аватар пользователя')
        p.comment-form__author Вам слово
      .comment-form__field
        .form__field
          textarea#comment-field.js-field(name='comment' cols='30' rows='10' maxlength='400' minlength='50') Нормальное вообще кресло! А как насч
          label(for='comment-field') Текст комментария
          span Обязательное поле
      button.comment-form__button.btn.btn--white.js-button(type='submit' disabled) Отправить

mixin ticket-comments(comments = [], logged = false, usersData)
  .ticket__comments
    if logged
      h2.ticket__subtitle Коментарии
      +ticket-comment-form
    else
      .ticket__warning
        p
          | Отправка комментариев доступна
          br
          | только для зарегистрированных пользователей.
        a.btn.btn--big(href='sign-up.html') Вход и регистрация
      h2.ticket__subtitle Коментарии
    if !comments.length
      .ticket__message
        p У этой публикации еще нет ни одного комментария.
    else
      .ticket__comments-list
        ul.comments-list
          each commentData in comments
            +comment({commentData, usersData})

mixin ticket(props = {})
  section.ticket
    .ticket__wrapper
      h1.visually-hidden Карточка объявления
      .ticket__content
        +ticket-img(props.ticket.img)
        +ticket-info(props.ticket, props.currentUser, props.categoriesListData)
      +ticket-comments(props.comments, props.logged, props.usersData)
